.sideBar {
    width: 230px;
    height: 100vh;
    flex-shrink: 0;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 6px 0px rgba(219, 219, 219, 0.50);
    display: flex;
    flex-direction: column;
}

.logo {
    position: relative;
    display: flex;
    width: 115px;
    height: 90px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    left: 24%;
    top: 3%;
    object-fit: contain;
}

.dashboard,
.device,
.service,
.number,
.report,
.setting {
    position: relative;
    top: 11%;
    left: 0;
    height: 50px;
}

.icon-dashboard {
    left: 5% !important;

}

.title-dashboard,
.title-device,
.title-service,
.title-number,
.title-report,
.title-setting {
    position: relative;
    color: var(--gray-gray-300, #7E7D88);
    font-family: Nunito;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    left: -12%;
    top: 13px;
}



.device .icon-device {
    position: absolute;
    left: 5%;
    top: 13.5px;
}

.title-device,
.title-service {
    left: -17%;
}



.title-service {
    left: -16%;
}

.icon-service,
.icon-number,
.icon-dashboard,
.icon-report,
.icon-setting,
.icon-setting-2 {
    position: absolute;
    left: 4%;
    top: 13.5px;
}



.title-number {
    left: -18%;
}



.icon-report {
    left: 5% !important;
}

.title-report {
    left: -16%;
}



.icon-setting {
    width: 25px;
    top: 10px;
}

.icon-setting-2 {
    left: 85%;
}

.title-setting {
    left: -1%;
}

.logOut {
    position: relative;
    bottom: -37%;

}

.icon-logOut {
    position: absolute;
    left: 21.5%;
    z-index: 1;
    margin-top: 15px;
}

.btn-logOut {
    position: absolute;
    display: flex;
    width: 155px;
    padding: 12px;
    padding-left: 22%;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 8px;
    background: var(--orange-orange-50, #FFF2E7);
    left: 14%;
    color: var(--orange-orange-500, #FF7506);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    top: 80%;
}


.dashboard:hover,
.service:hover,
.number:hover,
.report:hover,
.setting:hover,
.device:hover {
    background: var(--orange-orange-50, #FFF2E7);
}

.dashboard:hover .title-dashboard,
.service:hover .title-service,
.device:hover .title-device,
.number:hover .title-number,
.report:hover .title-report,
.setting:hover .title-setting {
    color: #FF7506;
}