.sideBar {
    width: 230px;
    height: 100vh;
    flex-shrink: 0;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 6px 0px rgba(219, 219, 219, 0.50);
    display: flex;
    flex-direction: column;
}

.logo {
    position: relative;
    display: flex;
    width: 115px;
    height: 90px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    left: 24%;
    top: 3%;
    object-fit: contain;
}

.dashboard,
.device,
.service,
.number,
.report,
.setting {
    position: relative;
    top: 11%;
    left: 0;
    height: 50px;
}

.icon-dashboard {
    left: 5% !important;

}

.title-dashboard,
.title-device,
.title-service,
.title-number,
.title-report,
.title-setting {
    position: relative;
    color: var(--gray-gray-300, #7E7D88);
    font-family: Nunito;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    left: -12%;
    top: 13px;
}



.device .icon-device {
    position: absolute;
    left: 5%;
    top: 13.5px;
}

.title-device,
.title-service {
    left: -17%;
}



.title-service {
    left: -16%;
}

.icon-service,
.icon-number,
.icon-dashboard,
.icon-report,
.icon-setting,
.icon-setting-2 {
    position: absolute;
    left: 4%;
    top: 13.5px;
}



.title-number {
    left: -18%;
}



.icon-report {
    left: 5% !important;
}

.title-report {
    left: -16%;
}



.icon-setting {
    width: 25px;
    top: 10px;
}

.icon-setting-2 {
    left: 85%;
}

.title-setting {
    left: 0%;
    top: 13px;
}

.logOut {
    position: relative;
    bottom: -35%;
}

.icon-logOut {
    position: absolute;
    left: 21.5%;
    z-index: 1;
    margin-top: 15px;
}

.btn-logOut {
    position: absolute;
    display: flex;
    width: 155px;
    padding: 12px;
    padding-left: 22%;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 8px;
    background: var(--orange-orange-50, #FFF2E7);
    left: 14%;
    color: var(--orange-orange-500, #FF7506);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    top: 80%;
}


.dashboard:hover,
.service:hover,
.number:hover,
.report:hover,
.setting:hover,
.device:hover {
    background: var(--orange-orange-50, #FFF2E7);
}

.dashboard:hover .title-dashboard,
.service:hover .title-service,
.device:hover .title-device,
.number:hover .title-number,
.report:hover .title-report,
.setting:hover .title-setting {
    color: #FF7506;
}

.title-setting:hover {
    color: #FF7506;
}

.box-setting-hide-sidebar {
    position: relative;
    width: 100%;
    height: 50px;
    top: 90px;
}

.setting {
    position: relative;
    top: 0;
}

.box-hide-sidebar {
    position: relative;
    width: 145px;
    height: 125px;
    left: 100%;
    z-index: 1;
    top: -95%;
    background: var(--white, #FFF);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    /* Thêm hiệu ứng chuyển đổi màu */

}



.row-box-hide-sidebar,
.row-box-hide-sidebar2,
.row-box-hide-sidebar3 {
    position: relative;
    height: 40px;
    width: 100%;

}

.row-box-hide-sidebar:hover,
.row-box-hide-sidebar2:hover,
.row-box-hide-sidebar3:hover {
    background: var(--orange-orange-50, #FFF2E7);
    color: #FF7506;
}


.text-box-hide-sidebar,
.text-box-hide-sidebar2,
.text-box-hide-sidebar3 {
    position: relative;
    color: var(--gray-gray-300, #7E7D88);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    top: 7px;
    text-align: left;
    padding-left: 10px;
}

.text-box-hide-sidebar:hover,
.text-box-hide-sidebar2:hover,
.text-box-hide-sidebar3:hover {
    color: #FF7506;
}

.box-hide-sidebar {
    display: none;
}

.box-hide-sidebar.show {
    display: block;
}

.active-link {
    background-color: #FF7506;
    color: #FFFFFF;
}

.dashboard.active {
    background: var(--orange-orange-500, #FF7506);
    color: #FFFFFF;
}

.device.active {
    background: var(--orange-orange-500, #FF7506);
    color: #FFFFFF;
}

.service.active {
    background: var(--orange-orange-500, #FF7506);
    color: #FFFFFF;
}

.number.active,
.row-box-hide-sidebar:active,
.row-box-hide-sidebar2,
.row-box-hide-sidebar3 {
    background: var(--orange-orange-500, #FF7506);
    color: #FFFFFF;
}

.sideBar .active p {
    color: #FFFFFF;
}

/* Vô hiệu hóa hover cho các NavLink đã active */
.sideBar .dashboard.active:hover,
.sideBar .device.active:hover,
.sideBar .service.active:hover,
.sideBar .number.active:hover,
.sideBar .report.active:hover,
.sideBar .setting.active:hover {
    color: #FFFFFF;
}

.sideBar .dashboard.active p:hover,
.sideBar .device.active p:hover,
.sideBar .service.active p:hover,
.sideBar .number.active p:hover,
.sideBar .report.active p:hover,
.sideBar .setting.active p:hover {
    color: #FFFFFF;
}