.background-service {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.content-service {
    position: absolute;
    top: 15%;
    width: 85%;
    height: 85%;
    left: 15%;
}

.title-service-page {
    position: relative;
    color: var(--orange-orange-500, #FF7506);
    left: -41%;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.col-select-service-active {
    position: relative;
    width: 250px;
    height: 80px;
    left: 3%;
}

.select-active-service {
    position: relative;
    color: var(--gray-gray-500, #282739);
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    left: -42px;
    top: 2%;
}

.select-hoatDong-service {
    position: relative;
    left: 5%;
    top: -6px;
}

.add-service {
    position: absolute;
    right: 0%;
    top: 24%;
}

.btn-search-service {
    position: relative;
    top: -52px;
    left: 58%;
    border: none;
    background: #FFF;
}

.table-antd-service {
    width: 1144px;
    height: 100%;
    position: relative;
    left: 3%;
    top: -10px;
}

.col-select-service-active .input-search-service {
    display: flex;
    width: 300px;
    height: 44px;
    padding: 10px 16px 10px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1.5px solid var(--gray-gray-100, #D4D4D7);
    background: var(--white, #FFF);
    position: relative;
    top: -17px;
    outline: none;
}

.date-service-select {
    position: relative;
    top: -8px;
}